* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-height: 100dvh;
}

.center--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

input {
  width: 80px;
  margin-right: 15px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #112d4e;
}

input:focus {
  border-color: #1d4e86;
}

.grid--squares {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  background-color: white;
}

button {
  background-color: #112d4e;
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  border: none;
  transition: all 0.5s ease;
  transform: scale(1);
}

button:hover {
  background-color: #1d4e86;
}
button:active {
  transform: scale(0.9);
}

.square {
  font-size: 8px;
  outline: 1px solid black;
}
